
<%- include("header") -%>

<h2 class="about">Save your daily office work and necessary things which you want to do, stay connect with us</h2>

<div class="about-div">
<button class=" about-button" ><a class="page-change" href="/">Home Page</a></button>

</div>

<%- include("footer") -%>